.container-img-product {
  width: 55%;
  height: 80%;
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.container-product{
  width: 45%;
  height: 80%;
  padding: 0px 30px;

  h2 {
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Source Serif Pro', serif;
  }
}

.container-button-select {
  margin-top: 50px;
  font-family: 'Questrial', sans-serif;
  position: relative;

  p {
    text-transform: uppercase;
  }
  
  .button-select {
    width: 100%;
    margin-top: 10px;
    display: flex;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::after{
      content: " ";
      position: absolute;
      height: 74%;
      background: red;
      background: linear-gradient(to right, rgba(255,0,0,0), #F6F5F3);
      // background-image: linear-gradient(to right, rgba(255,0,0,0), #F6F5F3);
      right: 0px;
    }

    div {
      flex: 1;
      text-align: center;
      white-space: nowrap;
      padding: 10px 20px;
      background: #FFFFFF;
      border: 1px solid #A6A19A;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .2s;

      &:nth-child(1),
      &:nth-child(2) {
        border-right: 0px;
      }

      &:hover {
        background: #A6A19A;
        color: white;
      }
    }

    .active-product{
      background: #A6A19A;
      color: white;
    }
  }
}

.detail-product {
  width: 100%;
  margin-top: 30px;
  font-family: 'Questrial', sans-serif;

  .detail-product-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;

    span {
      display: block;
      font-weight: 300;
    }
  }

  .detail-product-2 {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 768px){
  .container-img-product {
    width: 100%;
    height: 40%;
  }

  .container-product {
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 0 10px;
  }

  .container-button-select {
    margin-top: 30px;

    .button-select {
      margin-top: 20px;

      div {
        font-size: 15px !important;
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 768px) and (orientation: landscape){
  .container-img-product {
    height: 80%;
  }

  .container-product {
    width: 100%;
    height: auto;
  }
}